<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>path</key>
			<string>StemsAnalyzer.py</string>
			<key>preferredName</key>
			<string>StemsAnalyzer</string>
			<key>shortKey</key>
			<string></string>
		</dict>
	</array>
	<key>developer</key>
	<string>Jérémie Hornus and Connor Davenport</string>
	<key>developerURL</key>
	<string>https://black-foundry.com https://connordavenport.com</string>
	<key>html</key>
	<false/>
	<key>launchAtStartUp</key>
	<false/>
	<key>mainScript</key>
	<string>StemsAnalyzer.py</string>
	<key>name</key>
	<string>StemsAnalyser</string>
	<key>requiresVersionMajor</key>
	<string>4</string>
	<key>requiresVersionMinor</key>
	<string>3</string>
	<key>timeStamp</key>
	<real>1695643484.1852989</real>
	<key>version</key>
	<string>1.1.0</string>
</dict>
</plist>
